.BtnHolder {
  display: flex;
  align-content: center;
}

.Button {
  margin: 5px;
  font-size: 14px;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  background-color: rgb(59, 131, 131);
  border: 5px dotted darkslategray;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.5s;
}

.Button:hover {
  background-color: blue; /* Green */
  color: white;
  border: 5px solid darkslategray;
}
